body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 50px;
}
td{
  width: 40%;
}